.login{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__form{
    display: flex;
    flex-direction: column;
}

.login__input{
    margin-bottom: 10px;
    padding: 5px;
}

.login__button{
    background-color: teal;
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
}