.newProduct{
    flex: 0.8;
    padding: 20px;
}

.addProduct__form {
    margin-top: 10px;
  }
  
  .addProduct__item {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .addProduct__item > label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .addProduct__item > input {
    padding: 10px;
  }
  
  .addProduct__item > select {
    padding: 10px;
  }
  
  .addProduct__button {
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }  