//accessible in all files
:root{
  --main-color: #0b0b0b
}

.link{
  text-decoration: none;
  color: inherit;
}

/*responsivness*/

@mixin tablet {
  @media (max-with: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-with: 480px) {
    @content;
  }
}


