.newUser{
    flex: 0.8;
    padding: 20px;
}

.newUser__form{
    display: flex;
    flex-wrap: wrap;
}

.newUser__item{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}

.newUser__item > label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(151, 150, 150);
}

.newUser__item > input {
    height: 20px;
    padding: 10px;
    border: 1px solid gray;
}

.newUser__gender > label{
    margin: 10px;
    font-size: 18px;
    color: #555;
}

.newUser__gender > input{
    margin-top: 15px;
}

.newUser__select{
    height: 40px;
    border-radius: 5px;
}

.newUser__button{
    width: 200px;
    border:none;
    background-color: darkblue;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
}