.topbar{
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999; /*over all elements*/
}

.topbar__wrapper{
    display: flex;
    height: 100%; /*50px*/
    padding: 0px 20px;
    align-items: center;
    justify-content: space-between;
}

.left__logo{
    font-weight: bold;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
}
.top__right{
    display: flex;
    align-items: center;
}
.rightIcons__container{
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}
.topIconBadge{
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    width: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    
}